	
div.main-content 
{ 
	width:1024px; 
} 

div.page-top
{
	background-color: #dedede;
}

div.page-top.logo
{
	float: left;
}

div.page-top .search-box
{
	
}

div.my-profile
{
	background-color: #eee;
}
div.my-profile span
{
	color: #fff;
	background-color: navy;
}
div.search-form
{
	background-color: #eee;
}
div.page-nav 
{ 
	width:250px; 
	float:left; 
	text-align:left; 
	vertical-align:middle; 
} 
div.page-content 
{ 
	width:	700px; 
	float:left; 
	text-align:left; 
} 
div.rightcolumn 
{ 
	width:150px; 
	float:right; 
	text-align:center; 
	vertical-align:middle; 
} 
hr 
{ 
	clear:both; 
	display:block; 
	visibility:hidden;
}

/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/

body#userportal
{
    background-color: #fff;
    font-size: .75em;
    font-family: Verdana, Helvetica, Sans-Serif;
    margin-left: 10px;
    padding: 0;
    color: #696969;
}

body
{
    font-size: .75em;
    font-family: Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
}

a:link
{
    color: #034af3;
    text-decoration: underline;
}
a:visited
{
    color: #505abc;
}
a:hover
{
    color: #1d60ff;
    text-decoration: none;
}
a:active
{
    color: #12eb87;
}

p, ul
{
    margin-bottom: 20px;
    line-height: 1.6em;
}

.breadcrumbs
{
	font-size: 8pt;
}

.homepagebutton
{
	width: 200px;
	height: 25px;
}

input[type="button"], input[type="submit"]
{
    border: 1px solid #CCC;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 1.3em;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

h1
{
    font-size: 1.5em;
    padding-bottom: 0;
    margin-bottom: 0;
}
h2
{
    padding: 0 0 10px 0;
}
h3
{
    font-size: 1.2em;
}
h4
{
    font-size: 1.1em;
}
h5, h6
{
    font-size: 1em;
}

/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#header
{
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
}

#header h1
{
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #FC5713;
    border: none;
    line-height: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px !important;
}

#main
{
	border: 1px #EAF3FD solid;
	padding: 10px 30px 15px 30px;
    background-color: #fff;
    margin-bottom: 30px;
    _height: 1px; /* only IE6 applies CSS properties starting with an underscrore */
}

#footer
{
    color: #000;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0;
    font-size: .9em;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu
{
    border-bottom: 1px #EAF3FD solid;
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: right;
}

ul#menu li
{
    display: inline;
    list-style: none;
}

ul#menu li#greeting
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #73AEEB;
    color: #fff;
}

ul#menu li a:hover
{
    background-color: #0D67CE;
    text-decoration: none;
}

ul#menu li a:active
{
    background-color: #73AEEB;
    text-decoration: none;
}

ul#menu li.selected a
{
    background-color: #0D67CE;
    color: #fff;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset 
{
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #CCC;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset label 
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input[type="text"] 
{
    width: 250px;
    border: 1px solid #CCC;
}

textarea
{
	width: 250px;
}

.large_textarea
{
	width: 889px;
}

input[type="password"] 
{
    width: 250px;
    border: 1px solid #CCC;
}

/* TABLE
----------------------------------------------------------*/

table 
{
  border: solid 1px #e8eef4;
  border-collapse: collapse;
}

table td 
{
  padding: 5px;   
  border: solid 1px #e8eef4;
}

table th
{
  padding: 6px 5px;
  text-align: left;
  background-color: #e8eef4; 
  border: solid 1px #e8eef4;   
}

/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.error
{
    color:Red;
}

#menucontainer
{
    margin-top:20px;
}

div#title
{
    display:block;
    float:left;
    text-align:left;
}

#logindisplay
{
    font-size:0.9em;
    display:block;
    text-align:right;
    margin:10px;
}

#logindisplay a:link
{
   text-decoration: underline;
}

#logindisplay a:visited
{
    text-decoration: underline;
}

#logindisplay a:hover
{
    text-decoration: none;
}

.field-validation-error
{
    color: #ff0000;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}